.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#wrap-list-todos{
  margin:20px auto;
  width: 400px;
  ul{
    margin: 20px 0; padding:0;
    list-style: none;
    li{
      margin:0; padding: 5px 0;
      border-bottom: 0.5px solid #ccc;
      span{
        width:320px; 
        display:inline-block; 
        text-align: left;
      }
    }
  }
}